@import "../style/color.module.scss";

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.151);
  padding: 0;
  z-index: 999;

  @media only screen and (max-width: $bg-phone-big) {
    justify-content: space-between;
    padding: 0 5rem;
  }
  @media only screen and (max-width: $bg-phone-small) {
    padding: 0 3rem;
  }

  .nav-item {
    list-style: none;

    @media only screen and (max-width: $bg-phone-big) {
      transition: none;
      margin-bottom: 2rem;
    }
  }

  .nav-link {
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.5s;

    @media only screen and (max-width: $bg-phone-big) {
      font-size: 2rem;
    }

    &::after {
      content: "";
      width: 0%;
      left: 50%;
      position: absolute;
      bottom: 0;
      background-color: $clr-light-orange;
      height: 0.2rem;
      transition: 0.3s ease-out;
    }

    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}

button {
  border: none;
  background-color: transparent;
  font-size: 4rem;
}

.menu {
  display: none;
  cursor: pointer;
  color: $clr-greyish-blue;
  @media only screen and (max-width: $bg-phone-big) {
    display: block;
  }
}
.close-nav {
  display: none;
  cursor: pointer;
  color: $clr-greyish-blue;
  @media only screen and (max-width: $bg-phone-big) {
    display: block;
    align-self: right;
    margin-left: auto;
    margin-bottom: 4rem;
  }
}

.active {
  text-decoration: none;
  color: black;
  position: relative;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.5s;

  @media only screen and (max-width: $bg-phone-big) {
    font-size: 2rem;
  }

  &::after {
    content: "";
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    background-color: $clr-light-orange;
    height: 0.2rem;
    transition: 0.3s ease-out;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex: 0 0 42%;

  @media only screen and (max-width: $bg-phone-big) {
    background-color: white;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 4rem;
    top: 0;
    right: 0;
    z-index: 999;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    box-shadow: 2px 0 16px rgba(0, 0, 0, 0.151);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }
}

.show-nav {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.btn-resume {
  text-decoration: none;
  background-color: $clr-light-orange;
  padding: 1.8rem 4rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: $bg-color-white;
  transition: transform 0.5s;
  text-transform: capitalize;
  cursor: pointer;

  @media only screen and (max-width: $bg-phone-big) {
    display: none;
  }

  &:hover {
    transform: translateY(-0.7rem);
  }
}
